.container {
    margin-top: 20px;
  }
  
  /* Style for the table */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #007bff;
    color: #fff;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  